.booking-logo-container {
  display: flex;
  justify-content: center;
  margin-top: 8em;
  margin-bottom: 1em;
}

.booking-logo {
  width: 270px;
  max-width: 70vw;
}

.booking-title {
  color: gold;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0.4em;
  letter-spacing: 0.04em;
}

.booking-card-container {
  width: 70vw;
  margin: auto;
 display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-bottom: 3em;
}

.booking-card {
  height: 45vh;
  width:100%;
  border: 2.5px solid var(--gold-main);
  border-radius: 18px;
  box-shadow: 0 2px 24px #0a124022;
  padding: 2.4em 2em 2em 2em;
  color: var(--gold-main);
  display: flex;  border: 1px solid gold;

  flex-direction: column;
  gap: 1em;
}

.booking-card h3 {
  color: var(--gold-main);
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
  text-align: left;
  letter-spacing: 0.025em;
}

.booking-line {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  gap: 0.85em;
  word-break: break-word;
}
.booking-card p{color: var(--color-gold);
font-size: 1.5em;}

.booking-line a {
  color: var(--gold-main);
  text-decoration: none;
}
